
@{
    ViewBag.Title = "feedback";
}

<h2>feedback</h2>
1: @Html.RadioButton("Gender", 1)
2: @Html.RadioButton("Gender", 2)
3: @Html.RadioButton("Gender", 2)
4: @Html.RadioButton("Gender", 2)
5: @Html.RadioButton("Gender", 2)


<div class='movie_choice'>
    Rate: Raiders of the Lost Ark
    <div id="r1" class="rate_widget col-lg-12">
        <div class="star_1 ratings_stars col-lg-2"></div>
        <div class="star_2 ratings_stars col-lg-2"></div>
        <div class="star_3 ratings_stars col-lg-2"></div>
        <div class="star_4 ratings_stars col-lg-2"></div>
        <div class="star_5 ratings_stars col-lg-2"></div>
        <div class="total_votes">vote data</div>
    </div>
</div>